.cta, .top__contacts li span {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: rem(16px);
  line-height: rem(22px);
  color: #000000;
}

.cta {
  outline: none;
  border: none;
  text-transform: uppercase;
  padding: 24px 50px;
  background-color: red;
  color: #fff;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 100%;
}

.top {
  height: 80px;
}

.top .container {
  margin: 0 25px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top__logo {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  color: #000000;
}

.top__logo span {
  color: red;
}

.top__contacts {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.top__contacts li {
  list-style: none;
}

.top__contacts li :first-of-type {
  margin-left: 20px;
}

.top__whatsapp {
  width: 40px;
  height: 40px;
}

.hero {
  width: 100%;
  height: 57.14286rem;
  background-image: url("../../img/hero_bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: flex;
  justify-content: start;
  align-items: start;
}

.hero__container {
  width: 41rem;
  height: 38.71429rem;
  padding-top: 7.85714rem;
  padding-left: 14.28571rem;
}

.hero__title-ordinary {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 4.42857rem;
  line-height: 120%;
  text-transform: uppercase;
  text-align: left;
}

.hero__title-big {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 11.42857rem;
  line-height: 100%;
  text-transform: uppercase;
  color: #000;
}

.hero__title-red {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 130%;
  color: #EF4646;
}

.hero ul {
  list-style: none;
  /* Remove default bullets */
  padding: 2.71429rem 0 2.21429rem 0;
  margin: 0;
}

.hero ul li {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 1.42857rem;
  line-height: 170%;
  color: #000000;
}

.hero ul li::before {
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: red;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 0.57143rem;
  /* Also needed for space (tweak if needed) */
  margin-right: 0.57143rem;
  /* Also needed for space (tweak if needed) */
}

.what {
  width: 100%;
  height: 58.35714rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1366px) {
  .what {
    padding-top: 10vh;
  }
}

.what__container {
  width: 80%;
  height: 41.64286rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.what__icon {
  width: 60xp;
  height: 71px;
}

.what__header {
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 2.85714rem;
  line-height: 3.5rem;
  text-align: center;
  letter-spacing: -0.01em;
  color: #222222;
  margin-bottom: 4.14286rem;
}

.what__carddeck {
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}

.what__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.what__card h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  color: #222222;
}

.what__card__text {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  color: #444545;
}

.what__card__small-text {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #757575;
  position: relative;
  top: 5rem;
}

.what__card__line {
  width: 100%;
}

html {
  font-size: 14px;
  min-width: 320px;
}

@media screen and (max-width: 1366px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */