@import 'components/_vars.scss';
@import 'components/_media.scss';
@import 'components/_forsvg.scss';
@import 'components/_cta.scss';
@import 'components/_header.scss';
@import 'components/_hero.scss';
@import 'components/_what.scss';

html{
    font-size: $baseFontSize;
    @include desktop {
        font-size: $baseFontSize;
    }
    @include tablets {
        font-size: $baseFontSize;
    }
    @include phones {
        font-size: $baseFontSize;
    }
    min-width: 320px;   
}
