.top {
    height: 80px;
            
    .container {
        margin: 0 25px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        font-family: Nunito;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 41px;
        color: #000000;
        
        span {            
            color: red;
        }
    }

    &__contacts {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;

        li {
            list-style: none;
            span {
                @extend %normal-font;
            }

            :first-of-type {
                margin-left: 20px;
            }
        }
    }

    &__whatsapp {
        width: 40px;
        height: 40px;
    }
}